<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="WebDAV" />
            <add name="DjangoFastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\anaconda3\envs\sqlProject\python.exe|D:\tcyho\Code\data_base\flightTicketSystem\wfastcgi.py" resourceType="Unspecified" />
            <add name="WebDAV" path="*" verb="*" modules="WebDAVModule" resourceType="Unspecified" requireAccess="None" />
        </handlers>
    
    </system.webServer>
</configuration>
