<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <modules>
          <remove name="WebDAVModule" />
        </modules>
        <handlers>
            <remove name="WebDAV" />
            <add name="DjangoFastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\anaconda3\envs\sqlProject\python.exe|D:\tcyho\Code\data_base\flightTicketSystem\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    
    </system.webServer>
</configuration>
